{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
   
    
<nav> 
    <img src="{% static 'img/R (6).png' %}" alt="" class="logo">
    <ul>
        <li><a href="/Home/">Home</a></li> 
        <li><a href="/Servicios/">Servicios</a></li>
    </ul>
</nav>
</header>



{% block containt %}   {% endblock %}
<footer>
    <p>@copyringth 2025 ITSR</p>
</footer>

</body>
</html>
