{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Mi Sitio</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body class="home-page">

    {% include 'navbar.html' %}

    <section>
    <img src="{% static 'img/' %}" alt="" class="mi-foto">
        <h1></h1>
    </section>

    <footer>
        <p>@copyright 2025 Jeremy_Qs</p>
    </footer>

</body>
</html>
